<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 该文件编写mybatis中的mapper接口里面的方法提供对应的sql语句 -->
<mapper namespace="com.vbqncc.dream.dream.dao.back.backwrite">

    <insert id="write" parameterType="com.vbqncc.dream.dream.pojo.back.content">
        insert into content (contenttype,content,softwaretitle,starttime,tag,state) values (#{contenttype},#{content},#{softwaretitle},#{starttime},#{tag},#{state})
    </insert>

    <select id="selectTemplateById" parameterType="int" resultType="string">
        select template from template where id=#{id}
    </select>

    <!--    更新模板-->
    <update id="updateTemplate" parameterType="com.vbqncc.dream.dream.pojo.back.template">
        update template set template=#{template} where id=#{id}
    </update>

</mapper>